body {
    background-color: #987069;
    color: #ffffff;
}

@font-face {
  font-family: "mondy";
  src: url('mondy.woff') format('woff'),
    url('mondy.woff2') format('woff2');
}

@font-face {
  font-family: "rose";
  src: url('rose.woff') format('woff'),
    url('rose.woff2') format('woff2');
}

.rose {
  font-family: "rose";
}

.mondy {
    font-family: "mondy";
}

.banner {
    font-size: 80px;
    text-align: center;
    margin: 0;
}

.center {
    text-align: center;
}

.nav {
    text-align: center;
}

.flex {
    display: flex;
}

aside {
    background-color: #ffffff;
    padding: 5px;
    border-radius: 15px;
    max-width: 15%;
}

li a {
    text-decoration: none;
    font-style: normal;
    color: #987069;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 1px;
}

ul {
    list-style-type: none;
}

/* .brown {
    background-color: #ffffff;
} */

.brown a {
    color: #ffffff;
}