* {
    box-sizing: border-box;
}

.box {
    background-color: olive;
    width: 200px;
    height: 200px;
    position: relative;

    /* animation-name: test;
    animation-duration: 5s;
    animation-delay: 2s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-fill-mode: both; */

    animation: test 4s 2s infinite linear alternate both;
}

@keyframes test {
    0% {
        background-color: darkolivegreen;
        left: 0;
    }
    100% {
        background-color: cadetblue;
        left: 100px;
    }
}

body {
    margin: 0;
}

.container {
    background-color: rgb(203, 185, 163);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    overflow: hidden;
}

.circle {
    background-color: rgb(133, 133, 98);
    width: 100px;
    height: 100px;
    border-radius: 100px;
    animation: pulse 1s infinite alternate;
}

@keyframes pulse {
    0% {
        background-color: rgb(113, 128, 87);
        scale: 1;
    }
    100% {
        background-color: rgb(119, 112, 157);
        scale: 1.5;
    }
}

.square {
    background-color: rgb(133, 133, 98);
    width: 100px;
    height: 100px;
    animation: spin 4s infinite linear;
}

@keyframes spin {
    0% {
        rotate: 0deg;
    }
    100% {
        rotate: 360deg;
    }
}

.mover {
    background-color: blanchedalmond;
    height: 40px;
    width: 150px;
    position: absolute;
    bottom: 0;
    left: 0;

    animation: move 4s infinite;
    /* cubic-bezier(.77,0,0,1); */
}

@keyframes move {
    0% {
        left: -150px;
        rotate: 0deg;
    }
    10% {
        rotate: 0deg;
    }
    25% {
        rotate: 180deg;
    }
    35% {
        rotate: 180deg;
    }
    75% {
        rotate: 0deg;
    }
    100% {
        left: 100vw;
        rotate: 0deg;
    }
}